[submodule "sorta"]
	path = sorta
	url = https://github.com/narimiran/sorta
	branch = master
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
	branch = master
[submodule "criterion"]
	path = criterion
	url = https://git@github.com/disruptek/criterion
	branch = master
[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = master
[submodule "skflatbuffers"]
	path = skflatbuffers
	url = https://github.com/disruptek/muffins
	branch = nim1
[submodule "skcbor"]
	path = skcbor
	url = https://github.com/Skrylar/skcbor
	branch = master
[submodule "flatty"]
	path = flatty
	url = https://github.com/treeform/flatty
	branch = master
[submodule "jason"]
	path = jason
	url = https://github.com/disruptek/jason
	branch = master
