[submodule "sorta"]
	path = sorta
	url = https://github.com/narimiran/sorta
	branch = master
[submodule "grok"]
	path = grok
	url = https://git@github.com/disruptek/grok
	branch = master
[submodule "criterion"]
	path = criterion
	url = https://git@github.com/disruptek/criterion
	branch = master
[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = master
